<div class="top-container entries-container">
  <h1>Entries</h1>
</div>

<% if @entries.any? %>
<ul>
  <% @entries.each do |entry| %>
    <li class="card link" data-url="<%= entry_path entry %>">
      <h2 class="entry-title"><%= entry.title %></h2>
      <p class="entry-body"><%= entry.body %></p>
    </li>
  <% end %>
</ul>
<% else %>
  <p>No entries</p>
<% end %>
